body{
  background-color: #C3CBE3;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color: #1A1A41;
  color: #DDD;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  
  /* width: 80%;
  margin-left: 30px; */
}
.case {
  background-color: beige;
  width: 300px;
  text-align: center;
  background-color: #6C6C8C;
  color: beige;
}


table {
  margin: auto;
  border: 1px solid #234857;
  /* width: calc(90vw/3); */
  border-radius: 5px;
  padding: 20px;
}
th,
td {
  padding: 5px 30px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}
.split {
display: flex;
margin: auto;
justify-content: space-between;
}
.record {
margin: auto;
font-size: 20px;
  font-weight: bold;
}

.search {
  margin: auto;
  margin-bottom: 7px;
  /* position: relative;
  left: 80%; */
}

.chart{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
}
.card {
  margin: 0 2% !important;
  border-bottom: 10px;
}
